/* .container 
{
    margin-top: 150px;
} */

/* .bg
{
    height: 100%;
    background-position: center;
    z-index: 0;
}

.my-form
{
    z-index: 1;
} */

.bg-gradient
{
    background: rgb(2,0,36);
background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(51,51,177,1) 50%, rgba(0,212,255,1) 100%);
}